.CartOrder {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: var(--text-light);
  }
  
  .CartOrder .section-heading {
    width: 100%
  }
  
  .CartOrder .line-item-container {
    padding-top: 3vmin;
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .CartOrder .total {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    border-top: .1vmin solid var(--tan-3);
  }
  
  .CartOrder .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dark);
  }
  
  .CartOrder .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .CartOrder .ready {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
  }